<button mat-icon-button (click)="closeDialog()">
  <mat-icon mat-icon-button color="primary">close</mat-icon>
</button>

<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Delete Warehouse Zone</mat-card-title>
      &nbsp;
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Building </mat-label>
            <input matInput maxlength="3" formControlName="buildingNumber" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Zone</mat-label>
            <input matInput maxlength="1" formControlName="zone" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>
        <br />
        <p>Press Enter to confirm Delete</p>

        <button mat-button class="deleteButton" (click)="delete()">
          <mat-label>Delete</mat-label>
        </button>
        <br /><br />
      </div>
    </mat-card-content>
  </mat-card>
</form>
