/* .mat-form-field{
    padding: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
   
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .scrollX{
    overflow-x: auto;
  }

  .scroll{
    overflow: auto;
  }

.addButton {
    background-color: #4cbb17;
    color: white;
  }

  .removeButton {
    background-color: #fc2626;
    color: white;
  }

.closeIcon{
    float: right;
} */