.mat-form-field{
    padding-left: 15px;;
}

.deleteButton {
    background-color: #f91111;
    color: white;
    padding: 5px;
    float: right;
  }

.mat-card-content{
    padding-top: 20px;
}

.mat-card-title{
    color: #f91111;
}