<mat-card class="over-Flow">
  <mat-card-header>
    <mat-card-title class="title"> Customer </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="buttons">
          <!-- <button mat-button (click)="onBack()" class="backButton">
        <mat-icon>navigate_before </mat-icon>
        <span>Modules</span>
      </button> -->
          <!-- <button mat-button (click)="searchTally()" class="addButton" *ngIf="searchTextDisplay">
        <mat-icon>clear</mat-icon>
        <span>Hide Search Details</span>
      </button> -->
          <button mat-button class="addButton" *ngIf="!searchTextDisplay">
            <mat-icon>search</mat-icon>
            <span>Search By Customer Details</span>
          </button>
          <button mat-button (click)="addCustomer()" class="addButton">
            <mat-icon>add</mat-icon>
            <span>New Customer</span>
          </button>
        </div>
      </div>
    </div></mat-card-content
  >
  <mat-card-content></mat-card-content>
  <mat-card-content>
    <form [formGroup]="addCustomerForm" class="form over-Flow">
      <div class="row" *ngIf="searchTextDisplay">
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Tally</mat-label>
            <input matInput formControlName="tally" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Ref#:{{ searchTextDisplay }}</mat-label>
            <input
              matInput
              formControlName="storerRef"
              style="text-transform: uppercase"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Schd Arv:</mat-label>
            <input
              matInput
              formControlName="schdldArrival"
              [matDatepicker]="schdldArrivalDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="schdldArrivalDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #schdldArrivalDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Invoice</mat-label>
            <input matInput formControlName="invoice" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Carrier </mat-label>
            <input
              matInput
              formControlName="carrier"
              style="text-transform: uppercase"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Building </mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Storer </mat-label>
            <input matInput formControlName="storer" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Consignee </mat-label>
            <input
              matInput
              formControlName="recvdFrom"
              style="text-transform: uppercase"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Status </mat-label>
            <input matInput value="0" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> PRO Number </mat-label>
            <input matInput formControlName="pro" />
          </mat-form-field>
          &nbsp; &nbsp;
        </div>
      </div>
      <div>
        <!-- <input
            (keyup)="onSubmit($event)"
            formControlName="tally"
            type="text"
            id="searchKey"
            class="form-control"
            placeholder="Search Box"
          /> -->

        <button
          *ngIf="searchTextDisplay"
          class="buttons addButton"
          mat-raised-button
          type="submit"
          [disabled]="!addCustomerForm.dirty"
          placeholder="Search"
        >
          Search
        </button>
        <br /><br />
      </div>
    </form>
  </mat-card-content>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Tally Column -->
    <ng-container matColumnDef="CustomerNo">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Customer No
      </th>
      <td mat-cell *matCellDef="let element">{{ element.customerNo }}</td>
    </ng-container>

    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Customer Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Address
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ZipCode">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Zip Code
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.zipCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Phone Number
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.phoneNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="FaxNumber">
      <th mat-header-cell mat-header-cell width="60px" *matHeaderCellDef>
        Fax Number
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.faxNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell mat-header-cell width="150px" *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-select class="mat-select" placeholder="Select Option">
          <mat-option (click)="getUpdateForm(element)">
            <button mat-icon-button>
              <mat-icon mat-icon-button color="primary">edit</mat-icon>
              <mat-label>Edit</mat-label>
            </button></mat-option
          >
        </mat-select>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- <mat-paginator
        #paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
      >
      </mat-paginator> -->
  <mat-paginator
    #paginator
    [pageSizeOptions]="[8, 16, 24]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
<router-outlet></router-outlet>
