<button mat-icon-button (click)="closeDialog()">
  <mat-icon mat-icon-button color="primary">close</mat-icon>
</button>

<mat-card>
  <mat-card-header>
    <mat-card-title>Delete Map Location</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Building Number </mat-label>
            <input matInput formControlName="buildingNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Floor </mat-label>
            <input matInput formControlName="floor" />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Aisle </mat-label>
            <input matInput formControlName="aisle" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Slot </mat-label>
            <input matInput formControlName="slot" />
          </mat-form-field>
        </div>
      </div>
    </form>
    <div>
      <p>Press Enter to confirm Delete</p>
      <button mat-button (click)="deleteMapLocation()" class="deleteButton">
        Delete
      </button>
      <br />
    </div>
  </mat-card-content>
</mat-card>
