<button mat-icon-button (click)="closeDialog()">
  <mat-icon mat-icon-button color="primary">close</mat-icon>
</button>

<mat-card>
  <div class="buttons">
    <button mat-button (click)="itemLocationCreate()" class="addButton">
      <mat-icon>add</mat-icon>
      <span>Create Item Location</span>
    </button>
  </div>
  <div></div>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-card-title style="color: rgb(10, 186, 25)"
        >Work With An Items Location</mat-card-title
      >
      &nbsp;

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline"
            ><mat-label>Storer</mat-label>
            <input matInput formControlName="storer" />
          </mat-form-field>

          <mat-form-field appearance="outline"
            ><mat-label>Item</mat-label>
            <input matInput formControlName="item" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline"
            ><mat-label>Location</mat-label>
            <input matInput formControlName="location" />
          </mat-form-field>

          &nbsp;
        </div>
      </div>
    </form>
  </mat-card-content>

  <table [dataSource]="dataSource" mat-table class="mat-elevation-z8">
    <ng-container matColumnDef="BldNbr">
      <th mat-header-cell *matHeaderCellDef>Bld Nbr</th>
      <td mat-cell *matCellDef="let element">{{ element.BldNbr }}</td>
    </ng-container>

    <ng-container matColumnDef="Floor">
      <th mat-header-cell *matHeaderCellDef>Key</th>
      <td mat-cell *matCellDef="let element">{{ element.Floor }}</td>
    </ng-container>

    <ng-container matColumnDef="Aisle">
      <th mat-header-cell *matHeaderCellDef>Aisle</th>
      <td mat-cell *matCellDef="let element">{{ element.Aisle }}</td>
    </ng-container>

    <ng-container matColumnDef="Slot">
      <th mat-header-cell *matHeaderCellDef>Slot</th>
      <td mat-cell *matCellDef="let element">{{ element.Slot }}</td>
    </ng-container>

    <ng-container matColumnDef="LotCode1">
      <th mat-header-cell *matHeaderCellDef>Lot Code 1</th>
      <td mat-cell *matCellDef="let element">{{ element.LotCode1 }}</td>
    </ng-container>
    <ng-container matColumnDef="FirstReceived">
      <th mat-header-cell *matHeaderCellDef>First Received</th>
      <td mat-cell *matCellDef="let element">{{ element.FirstReceived }}</td>
    </ng-container>

    <ng-container matColumnDef="TotalCapacity">
      <th mat-header-cell *matHeaderCellDef>Total Capacity</th>
      <td mat-cell *matCellDef="let element">{{ element.TotalCapacity }}</td>
    </ng-container>

    <ng-container matColumnDef="OnHand">
      <th mat-header-cell *matHeaderCellDef>On Hand</th>
      <td mat-cell *matCellDef="let element">{{ element.OnHand }}</td>
    </ng-container>
    <ng-container matColumnDef="AddlCapacity">
      <th mat-header-cell *matHeaderCellDef>Addl Capacity</th>
      <td mat-cell *matCellDef="let element">{{ element.AddlCapacity }}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell mat-header-cell width="250px" *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-select class="mat-select" placeholder="Select Option">
          <mat-option>
            <button mat-icon-button (click)="itemAdjustment1(element)">
              <mat-icon mat-icon-button color="primary">adjust</mat-icon>
              <mat-label>Location 1 Side Adjustment</mat-label>
            </button></mat-option
          >
          <mat-option>
            <button mat-icon-button (click)="itemLocationDelete(element)">
              <mat-icon mat-icon-button color="warn">delete</mat-icon>
              <mat-label>Delete</mat-label>
            </button></mat-option
          >
          <mat-option>
            <button mat-icon-button (click)="item2SideAdjustment(element)">
              <mat-icon mat-icon-button color="primary">adjust</mat-icon>
              <mat-label>Location 2 Side Adjustment</mat-label>
            </button></mat-option
          >
          <mat-option>
            <button mat-icon-button (click)="itemResequence(element)">
              <mat-icon mat-icon-button color="secondary">adjust</mat-icon>
              <mat-label>Resequence</mat-label>
            </button></mat-option
          >
        </mat-select>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[8, 16, 24]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
