<button mat-icon-button (click)="closeDialog()">
  <mat-icon mat-icon-button color="primary">close</mat-icon>
</button>
<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Maintain Exit Points</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline"
            ><mat-label> Storer </mat-label>
            <input matInput formControlName="Storer" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Exit Point</mat-label>

            <input matInput formControlName="Exit_Point" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Choice </mat-label>

            <input matInput formControlName="Choice" />
          </mat-form-field>
        </div>
        <button class="buttons addButton" mat-raised-button (click)="update()">
          Update
        </button>
      </div>
      <br /><br />
    </mat-card-content>
  </mat-card>
</form>
