<button mat-icon-button (click)="closeDialog()">
  <mat-icon mat-icon-button color="primary">close</mat-icon>
</button>

<form [formGroup]="form" fxLayoutAlign="center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Delete Item Location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Storer : </mat-label>
            <input matInput formControlName="storer" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Item: </mat-label> &nbsp;

            <input matInput formControlName="item" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label> Building: </mat-label> &nbsp;

            <input matInput formControlName="building" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> Fllor/Aisle/Slot: </mat-label> &nbsp;

            <input matInput formControlName="floorData" />
          </mat-form-field>
        </div>
      </div>

      <br />
      <button
        mat-button
        class="buttons addButton"
        (click)="deleteItemLocation()"
      >
        <mat-label>Delete</mat-label>
      </button>
      <br /><br />
    </mat-card-content>
  </mat-card>
</form>
