/* .mat-form-field
{
    padding-left: 10px;
} 
.remove{
    background-color: brown;
    color: white;

}
.AddLocation{
    background-color: green;
    color: white;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
 .update{
   background-color: cornflowerblue;
   color: aliceblue;
 } */