<mat-card>
    <mat-card-header>
   <mat-card-title>
       <button  mat-button (click)="onBack()">
           <mat-icon>navigate_before </mat-icon>
         </button>
       Order-Event-History</mat-card-title>
    </mat-card-header>

     <form [formGroup]="form">
       <div class="row">
           <div class="col">
               <mat-form-field appearance="outline">
                   <mat-label>BillofLading</mat-label>
                   <input matInput formControlName="BillofLading"/>
               </mat-form-field>
               <mat-form-field appearance="outline">
                   <mat-label>Storer</mat-label>
                   <input matInput formControlName="Storer"/>
               </mat-form-field>
               
               <mat-form-field appearance="outline">
                   <mat-label>Consignee</mat-label>
                   <input matInput formControlName="Consignee"/>
               </mat-form-field>
           </div>
          
        </div>
   </form>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       <ng-container matColumnDef="Date">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Date
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Date}}</td>
         </ng-container>
         <ng-container matColumnDef="Time">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Time
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Time}}</td>
         </ng-container>
         <ng-container matColumnDef="Event">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Event
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Event}}</td>
         </ng-container>
         <ng-container matColumnDef="Received">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Received
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Received}}</td>
         </ng-container>
         <ng-container matColumnDef="Transmitted">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Transmitted
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Transmitted}}</td>
         </ng-container>
         <ng-container matColumnDef="Sts">
           <th mat-header-cell mat-header-cell  *matHeaderCellDef>
               Sts
           </th> 
           <td mat-cell *matCellDef="let element">{{ element.Sts}}</td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>

       <mat-paginator
       #paginator
         [pageSizeOptions]="[4, 8, 16]"
         showFirstLastButtons
       ></mat-paginator>
