<button mat-icon-button (click)="closeDialog()">           
    <mat-icon  mat-icon-button color="primary">close</mat-icon>
</button>


      <form [formGroup]="form">
        <mat-card>
          <mat-card-header>
            <mat-card-title >Delete Tally</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            
            <div class="row">
                <div class="col">
                  
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tally</mat-label>
                    <input matInput required formControlName="tally" />
                  </mat-form-field>

                 
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Line Number </mat-label>
                      <input matInput formControlName="linenumber" />
                    </mat-form-field>
                </div>

                <div class="col">
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Storer  </mat-label>
                      <input matInput  formControlName="storer" />
                    </mat-form-field>
                  </div>

                  <div class="col">
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Item </mat-label>
                      <input matInput formControlName="item" />
                    </mat-form-field>
                  </div>

                  <div class="col">
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Lots</mat-label>
                      <input matInput formControlName="lots" />
                    </mat-form-field>
                  </div>

                  <div class="row">
               
                    <div class="col">
                        
                        <mat-form-field appearance="outline">
                          <mat-label>Received</mat-label>
                          <input matInput formControlName="received" />
                        </mat-form-field>
    
                       
                        <mat-form-field appearance="outline">
                          <mat-label>Intransit</mat-label>
                          <input matInput  formControlName="intransit" />
                        </mat-form-field>

                        <button mat-button class="buttons removeButton" (click)="deletetallyDetail()">Delete</button>
                    </div>
    
                </div>

            </div>

            
          </mat-card-content>
        </mat-card>
      </form>
    

