/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
  display: table;
}

.buttons {
  float: right;
}
.buttons > * {
  margin-right: 16px;
}
.mat-row:hover {
  background-color: #f8f8f8;
}

.mat-row:hover > .mat-cell {
  color: #2a52be;
}

.mat-header-cell {
  background-color: #2a52be;
  color: white;
}

.over-Flow{
  overflow: auto;
}

.title {
  font-weight: 600;
  color: #2a52be;
}

.backButton {
  background-color: #2a52be;
  color: white;
}

.addButton {
  background-color: #4cbb17;
  color: white;
}

label {
  display: inline-block;
  width: 150px; 
}

.center{
  align-items: center;
}

.mat-select {
  background-color: rgb(228, 236, 228); 
 
} 
==================================================================*/

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
    flex: 1 1 auto;
  }

  .table {
    width: 100%;
    display: table;
  }
 
  .buttons {
    float: right;
  }
  .buttons > * {
    margin-right: 16px;
  }
  .mat-row:hover {
    background-color: #f8f8f8;
  }
 
  .mat-row:hover > .mat-cell {
    color: #2a52be;
  }
 
  .mat-header-cell {
    background-color: #2a52be;
    color: white;
  }
 
  .over-Flow{
    overflow: auto;
  }
 
  .title {
     
    color: #2a52be;
  }
 
  .backButton {
    background-color: rgb(0, 76, 139);
    color: white;
  }
 
  .addButton {
    background-color: #4cbb17;
    color: white;
    margin: 10px !important;
  }

  .removeButton {
    background-color: #fc2626;
    color: white;
  }
 
 
  label {
    display: inline-block;
    width: 150px;
    /* text-align: center; */
  }

  .title{
    color: #fff;
    text-align: center;
  }
 
 
table.mat-table {
    border-spacing: 0;
    width: 100%;
}
  .center {
    align-items: center;
  }
 
  .mat-card-header{    
    background-color: rgb(0, 76, 139);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    color:#fff
  }
 
 
  /* .mat-select {
    background-color: rgb(228, 236, 228);
    padding: 10px;
   
  } */

  .buttonCss{
    background-color: aqua;
    color: black;
    border: none;
   
}

 
.mat-form-field
{
    padding-left: 20px;
}

.remove{
    background-color: brown;
    color: white;

}
.addLocation{
    background-color: green;
    color: white;

}
.table2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
 
  th, td {
    text-align: left;
    padding: 8px;
  }
 .update{
   background-color: cornflowerblue;
   color: aliceblue;
 }

 .mat-card-content
{
    padding-top: 20px;
}

.mat-card-title{
  color: white;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #fff;
}
.mat-raised-button{
  float: right;

}
.mat-sidenav
{
  margin: 2px !important;
}

.signout
{
  background: #004c8b;
  color: #fff;
}
.loginSpace
{
width:240px;
margin-top:5em;
}
 
.mat-card-header .mat-card-title
{
  margin: 5px !important;
}
  
  

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 48px;
}


