.mat-form-field{
    padding: 10px;
}
.mat-card-content{
    padding-top: 20px;
}

.editButton {
    background-color: #3ead0b;
    color: white;
    padding: 10px;
    float: right;
  }


.closeIcon{
    float: right;
}

.mat-icon{
    padding-right: 5px;
}